

    <!--START-->

    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2017/12/29/20/08/eye-3048526_960_720.jpg" alt="">
        <table class="table table-hover table-cards align-items-center">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white">
                    <th scope="row">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <h6 class="h5 font-weight-normal mb-0">Nabiha Armstrong</h6>
                            </div>
                        </div>
                    </th>
                    <td>nabiha.armstrong@example.com</td>
                    <td>Cluj Napoca, RO</td>
                </tr>
                <tr class="table-divider"></tr>
            </tbody>
        </table>
        <button type="button" class="btn col-2 center btn-primary btn-circle">Change profile</button>
    </div>


    <!--END-->

