<%=stylesheet_link_tag"home"%>

<h1>Our Team</h1>

<table class="table table-hover table-cards align-items-center">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Life Motto</th>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-white">
            <th scope="row">
                <div class="media align-items-center">
                    <img src="../assets/img/prv/thumb-1.jpg" class="avatar avatar-lg mr-3">
                    <div class="media-body">
                        <h6 class="h5 font-weight-normal mb-0">Julien Nguyen</h6>
                        <span class="font-weight-normal text-muted">King of the north</span>
                    </div>
                </div>
            </th>
            <td>JN@example.com</td>
            <td>Get wasted</td>
        </tr>
        <tr class="table-divider"></tr>
        <tr class="bg-white">
            <th scope="row">
                <div class="media align-items-center">
                    <img src="../assets/img/prv/thumb-2.jpg" class="avatar avatar-lg mr-3">
                    <div class="media-body">
                        <h6 class="h5 font-weight-normal mb-0">Thomas Feral</h6>
                        <span class="font-weight-normal text-muted">Commander of the Dark Army</span>
                    </div>
                </div>
            </th>
            <td>TF@example.com</td>
            <td>Get filthy rich</td>
        </tr>
        <tr class="table-divider"></tr>
        <tr class="bg-white">
            <th scope="row">
                <div class="media align-items-center">
                    <span class="avatar avatar-lg bg-blue mr-3">WS</span>
                    <div class="media-body">
                        <h6 class="h5 font-weight-normal mb-0">Jean Tirard</h6>
                        <span class="font-weight-normal text-muted">A God among us</span>
                    </div>
                </div>
            </th>
            <td>JT@example.com</td>
            <td>One day, it will be MINE !!</td>
        </tr>
        <tr class="table-divider"></tr>
        <tr class="bg-white">
            <th scope="row">
                <div class="media align-items-center">
                    <span class="avatar avatar-lg bg-pink mr-3">CT</span>
                    <div class="media-body">
                        <h6 class="h5 font-weight-normal mb-0">Maxence Kieger</h6>
                        <span class="font-weight-normal text-muted">Final Boss</span>
                    </div>
                </div>
            </th>
            <td>MK@example.com</td>
            <td>Eat, Sleep, Rave, Repeat</td>
        </tr>
        <tr class="table-divider"></tr>
        <tr class="bg-white">
            <th scope="row">
                <div class="media align-items-center">
                    <span class="avatar avatar-lg bg-pink mr-3">CT</span>
                    <div class="media-body">
                        <h6 class="h5 font-weight-normal mb-0">Florent Bilocq</h6>
                        <span class="font-weight-normal text-muted">knight of the apocalypse</span>
                    </div>
                </div>
            </th>
            <td>FB@example.com</td>
            <td>Boom bitch, get out the way</td>
        </tr>
        <tr class="table-divider"></tr>
        <tr class="bg-white">
        <th scope="row">
            <div class="media align-items-center">
                <span class="avatar avatar-lg bg-pink mr-3">CT</span>
                <div class="media-body">
                    <h6 class="h5 font-weight-normal mb-0">Gregoire Dalmasso</h6>
                    <span class="font-weight-normal text-muted">The Game Master</span>
                </div>
            </div>
        </th>
        <td>GD@example.com</td>
        <td>Damn, what s up with your face ?</td>
    </tr>
    <tr class="table-divider"></tr>
    </tbody>
</table>